.m-t-5{
	margin-top: 5em;
}

.m-l-1{
	margin-left: 1em;
}

.m-l-2{
	margin-left: 2em;
}

.m-l-3{
	margin-left: 3em;
}

.m-l-4{
	margin-left: 4em;
}

iframe{
	display: block;
	margin: auto;
}

.primary-color{
	color:#337ab7 !important;
}

.m-x-1{
	margin-left: 1em;
	margin-right: 1em;
}

.max-width{
	max-width: 100%;
}